.container {
    margin-top: 30px;
}

#input-select,
#input-number {
    padding: 7px;
    margin: 15px 5px 5px;
    width: 70px;
}

.noUi-horizontal {
    height: 10px;
    margin-bottom: 30px;
}
.noUi-horizontal .noUi-handle {
    width: 30px;
    height: 30px;
    left: -17px;
    top: -10px;
    border-radius: 50%;
    outline: 0;
}
.center {
    margin: 0 auto;
    float: none;
    text-align: center;
    /*   background: #423e3e; */
    overflow: hidden;
    padding: 10px 10px;
    margin-top: 50px;
}
input {
    box-shadow: none;
}
#input-select, #input-number {
    padding: 7px;
    margin: 0 20px;
    width: 70px;
    padding: 10px 6px;
    text-align: center;
}
.noUi-horizontal .noUi-handle {
    background: #ffdc40;
}
